{% include 'header.html' %}
<div id="white">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <form class="form1" action="{{base_url}}/add_story.php" method="POST">
                    <fieldset>
                        <div id="legend"><legend class="">提交新文章</legend></div>

                        <div class="control-group">
                            <!-- Title -->
                            <label class="control-label"  for="title">文章标题</label>
                            <div class="controls">
                                <input type="text" id="story_title" name="story_title" value="{{story_title}}" placeholder="" class="form-control">
                                <span class="error">{{ title_error }}</span>
                            </div>
                        </div>

                        <div class="control-group">
                            <!-- URL -->
                            <label class="control-label" for="url">文章地址</label>
                            <div class="controls">
                                <input type="text" id="story_url" name="story_url" placeholder="" value="{{ story_url }}" class="form-control" >
                                <span class="error">{{ url_error }}</span>
                            </div>
                        </div>

                        <div class="control-group">
                            <!-- Description-->
                            <label class="control-label" for="description">文章摘要</label>
                            <div class="controls">
                                <textarea type="textarea" id="story_desc" rows="6" name="story_desc" value="{{story_desc}}" placeholder="" class="form-control">{{ story_desc }} </textarea>
                                <span class="error">{{ desc_error }}</span>
                            </div>
                        </div>

                        <div class="control-group">
                            <!-- Button -->
                            <div class="controls">
                                <button type="submit" name="submit" value="Submit Story" class="btn btn-success">提交</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}